@charset "UTF-8";
/*
    Se importan las hojas de estilo de parciales. Las hojas de estilos
    con _name (parciales) no se compilan, y no es necesario incluir el
    "_" al importarlas aqui. Se importan aqui y se van a compilar en .css,
    generando después el archivo main.css para el navegador.
    Este archivo es el que sí puede leer el navegador y debe ir en los
    estilos que carga el html, o en el archivo index.js de React.
*/
/*------------------------------------*\
    #Variables
\*------------------------------------*/
/*
    Las variables se deben cargar primero, siempre van hasta arriba ya
    que todos los demás archivos las usan.
*/
/*
    Se van a crear todas las variables a usar en el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Tamaños de pantalla
\*------------------------------------*/
/*------------------------------------*\
    #Media-querys
\*------------------------------------*/
/*
    Todas las variables aqui pertenecen a css, y deben ir despues que las
    de sass, ya que los @media se usan con variables de sass.
*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,600,700|Montserrat:400,600&display=swap");
:root {
  /*------------------------------------*\
      #Tipografia
  \*------------------------------------*/
  --font-title: "Josefin Sans",
      sans-serif,
      Arial,
      Helvetica;
  --font-text: "Montserrat",
      sans-serif,
      Arial,
      Helvetica;
  --font-light: 300;
  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;
  /*------------------------------------*\
      #Colores
  \*------------------------------------*/
  --brand-primary: #07b2b8;
  --brand-secondary: #024881;
  --brand-tertiary: #152533;
  --black: #1f2020;
  --white: #d1d5d8;
  --gray-darker: #202020;
  --gray-dark: #2f3640;
  --gray: #535c68;
  --gray-light: #939ba5;
  --gray-lighter: #bdc3c7;
  --color-warning: #f39c12;
  --color-error: #c0392b;
  --color-important: #8e44ad;
  --color-login: #27ae60;
  --color-logout: #2980b9;
  --color-base: #942BA8;
  --color-xs: #EE5A24;
  --color-sm: #168882;
  --color-md: #c47e29;
  --color-lg: #c00f35;
  --color-xl: #009432;
  --color-xx: #3742fa;
  /*------------------------------------*\
      #Tamaños
  \*------------------------------------*/
  --font-project: 16px;
  --ritmo: 1.75;
  --spaced-text: calc(1em * var(--ritmo));
  --grid-wrapp: calc(var(--font-project) * var(--ritmo));
  --grid-hub: calc(var(--grid-wrapp) / 2);
  --grid: calc(var(--grid-hub) / 2);
  /*
      Estos tamaños únicamente deben ser usados en tamaños de fuente.
      .......
      Estos tamaños se deben ajustar al modificar el tamaño de letra
      base del proyecto, ya que las medidas que están en color gris
      no van a corresponder con las reales si se llegan a cambiar.
  */
  --txt-base: calc(var(--font-project) / 4);
  --txt-2: calc(var(--font-project) / 2);
  --txt-3: calc(var(--txt-base) * 3);
  --txt-4: var(--font-project);
  --txt-5: calc(var(--txt-base) * 5);
  --txt-6: calc(var(--txt-base) * 6);
  --txt-7: calc(var(--txt-base) * 7);
  --txt-8: calc(var(--txt-base) * 8);
  --txt-9: calc(var(--txt-base) * 9);
  --txt-10: calc(var(--txt-base) * 10);
  --txt-12: calc(var(--txt-base) * 12);
  --txt-14: calc(var(--txt-base) * 14);
  --txt-16: calc(var(--txt-base) * 16);
  /*
      Estos tamaños nunca deben ser usados en tamaños de fuente.
      .......
      Estos tamaños se deben ajustar al modificar el tamaño de letra
      base del proyecto, ya que las medidas que están en color gris
      no van a corresponder con las reales si se llegan a cambiar.
  */
  --box-base: var(--grid);
  --box-2: calc(var(--box-base) * 2);
  --box-3: calc(var(--box-base) * 3);
  --box-4: calc(var(--box-base) * 4);
  --box-5: calc(var(--box-base) * 5);
  --box-6: calc(var(--box-base) * 6);
  --box-7: calc(var(--box-base) * 7);
  --box-8: calc(var(--box-base) * 8);
  --box-9: calc(var(--box-base) * 9);
  --box-10: calc(var(--box-base) * 10);
  --box-12: calc(var(--box-base) * 12);
  --box-14: calc(var(--box-base) * 14);
  --box-16: calc(var(--box-base) * 16);
  --box-18: calc(var(--box-base) * 18);
  --box-20: calc(var(--box-base) * 20);
  --box-22: calc(var(--box-base) * 22);
  --box-24: calc(var(--box-base) * 24);
  --box-28: calc(var(--box-base) * 28);
  --box-32: calc(var(--box-base) * 32);
  --box-36: calc(var(--box-base) * 36);
  --box-40: calc(var(--box-base) * 40);
  --box-48: calc(var(--box-base) * 48);
  --box-56: calc(var(--box-base) * 56);
  --box-64: calc(var(--box-base) * 64);
  --box-70: calc(var(--box-base) * 70);
  --ar-16-9: 1.77778;
  --ar-16-10: 1.6;
  --ar-4-3: 1.33333;
  --edge-sm: 0.25em;
  --edge-md: 0.75em;
  --edge-lg: 1.5em;
  --edge-xx: 2.5em;
  /*------------------------------------*\
      #Variables generales del pryecto
  \*------------------------------------*/
  --nav-height: var(--box-8);
}
@media screen and (min-width: 1024px) {
  :root {
    --nav-height: var(--box-10);
  }
}

/*
    Se van a crear todos los mixins generales del proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Background azul
\*------------------------------------*/
/*
    En dispositivos moviles al tocar un elemento como <a> o un
    <button>, estos tienen un fondo azul para indicar que se hace
    clik en ellos. Con este atributo se elimina eso.
*/
/*------------------------------------*\
    #Imagen con relación de aspecto
\*------------------------------------*/
/*
    Para mantener el ritmo siempre dentro de las dimensiones, las imgenes
    debe tener altos establecidos en las variables.
    Se pasa el alto que se le desea aplicar a la imagen, y se multiplica por
    un factor que calcula el ancho de la imagen con aspecto de resolución
    16:9 ó widescreen.

    16:9  = 1.78
    16:10 = 1.6
    4:3   = 1.33
    1:1   = 1
*/
/*------------------------------------*\
    #Lados iguales
\*------------------------------------*/
/*
    Permite colocar el width y el height del mismo tamaño.
*/
/*
    Permite colocar el padding en el eje "x" y eje "y" del mismo
    tamaño respectivamente.
*/
/*
    Permite colocar el margin en el eje "x" y eje "y" del mismo
    tamaño respectivamente.
*/
/*------------------------------------*\
    #CSS-general
\*------------------------------------*/
/*
    Con tiene los estilos para resetear los artributos por defecto que
    contienen los elementos.
*/
/*
    Se van a crear todos los estilos generales del proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Estilos-general
\*------------------------------------*/
html {
  /*
      AL cambiar este tamaño de letra, se ajustan las
      dimensiones de todo el proyecto
  */
  color: var(--black);
  font-family: var(--font-text);
  font-size: var(--txt-4);
  line-height: var(--spaced-text);
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

main {
  display: block;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-right: 0;
  margin-left: 0;
  font-family: var(--font-title);
}

span {
  display: block;
}

p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

label {
  display: inline-block;
  font-size: var(--txt-4);
}

select {
  appearance: none;
}

textarea {
  resize: none;
}

button {
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  width: 100%;
  padding: 0;
  font-size: var(--txt-4);
}

table {
  width: 100%;
  border-collapse: collapse;
}

/*------------------------------------*\
    #Estilos base
\*------------------------------------*/
/*
    Se van a crear todas las tipografias para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Tipografia
\*------------------------------------*/
/*------------------------------------*\
    #Tamaños de los h1 al h6
\*------------------------------------*/
.heading1 {
  margin: var(--box-6) 0;
  font-size: var(--txt-12);
  line-height: var(--box-8);
}
@media screen and (min-width: 720px) {
  .heading1 {
    margin: var(--box-7) 0;
    font-size: var(--txt-14);
    line-height: var(--box-10);
  }
}
@media screen and (min-width: 1260px) {
  .heading1 {
    margin: var(--box-8) 0;
    font-size: var(--txt-16);
    line-height: var(--box-12);
  }
}

.heading2 {
  margin: var(--box-5) 0;
  font-size: var(--txt-9);
  line-height: var(--box-7);
}
@media screen and (min-width: 720px) {
  .heading2 {
    margin: var(--box-6) 0;
    font-size: var(--txt-12);
    line-height: var(--box-8);
  }
}
@media screen and (min-width: 1260px) {
  .heading2 {
    margin: var(--box-7) 0;
    font-size: var(--txt-14);
    line-height: var(--box-10);
  }
}

.heading3 {
  margin: var(--box-5) 0;
  font-size: var(--txt-9);
  line-height: var(--box-6);
}
@media screen and (min-width: 720px) {
  .heading3 {
    margin: var(--box-5) 0;
    font-size: var(--txt-9);
    line-height: var(--box-7);
  }
}
@media screen and (min-width: 1260px) {
  .heading3 {
    margin: var(--box-6) 0;
    font-size: var(--txt-12);
    line-height: var(--box-8);
  }
}

.heading4 {
  margin: var(--box-4) 0;
  font-size: var(--txt-8);
  line-height: var(--box-5);
}
@media screen and (min-width: 720px) {
  .heading4 {
    margin: var(--box-5) 0;
    font-size: var(--txt-9);
    line-height: var(--box-6);
  }
}
@media screen and (min-width: 1260px) {
  .heading4 {
    margin: var(--box-5) 0;
    font-size: var(--txt-9);
    line-height: var(--box-7);
  }
}

.heading5 {
  position: relative;
  z-index: 100;
  margin: var(--box-4) 0;
  font-size: var(--txt-7);
  line-height: var(--box-5);
}
@media screen and (min-width: 720px) {
  .heading5 {
    margin: var(--box-4) 0;
    font-size: var(--txt-8);
    line-height: var(--box-5);
  }
}
@media screen and (min-width: 1024px) {
  .heading5 {
    margin: var(--box-5) 0;
    font-size: var(--txt-9);
    line-height: var(--box-6);
  }
}

.heading6 {
  margin: var(--box-3) 0;
  font-size: var(--txt-5);
  line-height: var(--box-3);
}
@media screen and (min-width: 720px) {
  .heading6 {
    margin: var(--box-3) 0;
    font-size: var(--txt-6);
    line-height: var(--box-4);
  }
}
@media screen and (min-width: 720px) {
  .heading6 {
    margin: var(--box-4) 0;
    font-size: var(--txt-7);
    line-height: var(--box-5);
  }
}

/*------------------------------------*\
    #Margen de parrafos
\*------------------------------------*/
/*
    Los elementos <p> y <h1> al <h6> deben ser hijos del elemento
    que contenga esta clase, para que se aplique a todos por igual.
    Los margenes en elementos <p>, se aplican siempre en bottom
    excepto al último elemento.
*/
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin: 0 0 var(--box-base) 0;
}
.content p:not(:last-child) {
  margin-bottom: var(--box-3);
}

/*------------------------------------*\
    #Titulos
\*------------------------------------*/
/*
    Aplica estos estilos a los elementos <h1>...<h6> que
    tengan tengan esta clase.
*/
.title {
  color: var(--brand-primary);
  font-weight: var(--font-bold);
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  color: var(--brand-secondary);
  font-weight: var(--font-semibold);
  text-align: center;
}

/*------------------------------------*\
    #Titulos agrupados
\*------------------------------------*/
/*
    Todos los titulos que se metan en un grupo, se comportarán de la
    siguiente manera.
    -El primero no tendrá margen en "botton", pero si "top"
    -El último no tendrá margen en "top", pero si "botton"
    -Los que estén entre el primero y el último, no tendrán margen.
*/
.title-group > *:not(:first-child) {
  margin-top: 0;
}
.title-group > *:not(:last-child) {
  margin-bottom: 0;
}

/*
    Se van a crear todas las clases de estructura para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Contenedor
\*------------------------------------*/
/*
    Coloca un padding en "x" al elemento que tenga esta clase, y
    limita si ancho dependiendo de la medida del dispositivo para
    la que se esté diseñando.
*/
.wrapper {
  padding-right: var(--box-2);
  padding-left: var(--box-2);
  width: 100%;
}
@media screen and (min-width: 720px) {
  .wrapper {
    padding-right: 0;
    padding-left: 0;
    width: 95%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 1260px) {
  .wrapper {
    width: 85%;
  }
}
@media screen and (min-width: 1480px) {
  .wrapper {
    width: 80%;
    max-width: 1920px;
  }
}

/*------------------------------------*\
    #Margen top y bottom para secciones
\*------------------------------------*/
/*
    Mantiene un margin-top si el <header> es fixed o absolute
    desde un inicio. las variables para calculaer el margin,
    corresponden al height del <header>.
    Si este tamaño cambia, automaticamente lo hará esta clase.
*/
.below-header {
  margin-top: var(--nav-height);
}

/*
    Padding vertical para las secciones.
*/
.inside {
  padding-top: var(--box-4);
  padding-bottom: var(--box-12);
}
@media screen and (min-width: 550px) {
  .inside {
    padding-top: var(--box-5);
    padding-bottom: var(--box-14);
  }
}
@media screen and (min-width: 720px) {
  .inside {
    padding-top: var(--box-6);
    padding-bottom: var(--box-16);
  }
}
@media screen and (min-width: 1260px) {
  .inside {
    padding-top: var(--box-7);
    padding-bottom: var(--box-18);
  }
}

/*------------------------------------*\
    #Tamaño de las imagenes
\*------------------------------------*/
/*
    Aplica para toda imagen que tenga un elemento padre con
    esta clase.
*/
.img {
  position: relative;
  display: flex;
}
.img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: var(--black);
  text-align: center;
  object-fit: cover;
}

/*------------------------------------*
    #Visivilidad en dispositivos
\*------------------------------------*/
@media screen and (min-width: 1024px) {
  .dk-hidden {
    display: none;
  }
}

.tch-hidden {
  display: none;
}
@media screen and (min-width: 1024px) {
  .tch-hidden {
    display: block;
  }
}

/*
    Se van a crear todas las clases de botones para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Buttons
\*------------------------------------*/
.btn {
  padding-right: var(--box-3);
  padding-left: var(--box-3);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--box-6);
  cursor: pointer;
  color: var(--white);
  font-size: var(--txt-4);
  border-radius: var(--edge-sm);
  border: 1px solid transparent;
  background: var(--brand-secondary);
  transition: 250ms ease-in;
  transition-property: background, color, transform, box-shadow, border-color;
  /*------------------------------------*\
      #Composición de botones
  \*------------------------------------*/
}
.btn:hover, .btn:active {
  background: var(--brand-primary);
  box-shadow: 2px 2px 10px var(--gray-darker);
}
.btn--big {
  padding-right: var(--box-6);
  padding-left: var(--box-6);
  height: var(--box-8);
  text-transform: uppercase;
  border-color: var(--brand-primary);
  background: transparent;
}
.btn--login {
  padding-right: var(--box-4);
  padding-left: var(--box-4);
  height: var(--box-6);
  text-transform: uppercase;
  border-color: var(--color-login);
  background: transparent;
}
.btn--login:hover, .btn--login:active {
  background: #27ae5f41;
  box-shadow: none;
}
@media screen and (min-width: 1024px) {
  .btn--login {
    margin-left: var(--box-4);
  }
}
.btn--large {
  width: 100%;
  color: var(--gray-light);
  font-weight: bold;
  border-radius: 0;
  border-width: 2px;
  border-color: var(--color-login);
  background: transparent;
}
.btn--large:hover, .btn--large:active {
  background: #27ae5f41;
  box-shadow: none;
}
.btn--red {
  width: 100%;
  color: var(--gray-light);
  font-weight: bold;
  border-radius: 0;
  border-width: 2px;
  border-color: var(--color-error);
  background: transparent;
}
.btn--red:hover, .btn--red:active {
  background: rgba(192, 58, 43, 0.255);
  box-shadow: none;
}
.btn--full {
  padding-right: var(--box-6);
  padding-left: var(--box-6);
  width: 100%;
  height: var(--box-6);
  display: none;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) {
  .btn--full {
    display: inline-flex;
  }
}
@media screen and (min-width: 1024px) {
  .btn--full {
    height: var(--box-7);
  }
}

/*
    Se van a crear todas las clases de inputs para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Controles del formulario
\*------------------------------------*/
.control-form, .textarea, .select, .input {
  padding-right: var(--box-2);
  padding-left: var(--box-2);
  width: 100%;
  color: var(--black);
  font-family: var(--font-text);
  font-size: var(--txt-4);
  border-color: var(--white);
  border-style: solid;
  background: var(--gray-light);
  transition: border-color 250ms ease-in;
}

.input {
  height: var(--box-6);
}
.input:hover, .input:focus, .input:active {
  border-color: var(--color-login);
}
.input--transparent {
  color: var(--white);
  background: transparent;
  border-color: transparent;
}
.input--transparent:hover, .input--transparent:focus, .input--transparent:active {
  border-color: transparent;
  border-bottom-color: var(--color-login);
}
.input--hidden {
  display: none;
}

.select {
  position: relative;
  height: var(--box-6);
}
.select:hover, .select:focus, .select:active {
  border-color: var(--color-login);
}

.textarea {
  height: var(--box-28);
  padding-top: var(--box-2);
  padding-bottom: var(--box-2);
}
.textarea--transparent {
  color: var(--white);
  background: transparent;
  border-radius: 0.8em;
  border-color: rgba(97, 97, 97, 0.4);
}
.textarea--transparent:hover, .textarea--transparent:focus, .textarea--transparent:active {
  border-color: transparent;
  border-bottom-color: var(--color-login);
}

/*------------------------------------*\
    #Estilos-componentes
\*------------------------------------*/
/*
    Se van a crear todos los estilos del header para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Header
\*------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: var(--nav-height);
  background: rgba(21, 37, 51, 0.97);
  /*------------------------------------*\
      #Menú
  \*------------------------------------*/
  /*------------------------------------*\
      #Enlaces
  \*------------------------------------*/
  /*------------------------------------*\
      #Submenu
  \*------------------------------------*/
}
@media screen and (min-width: 1024px) {
  .header {
    height: var(--nav-height);
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  width: var(--box-8);
  color: var(--white);
  font-size: var(--txt-base);
}
@media screen and (min-width: 550px) {
  .header__logo {
    font-size: var(--txt-2);
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    width: var(--box-12);
    margin-right: var(--box-4);
  }
}
.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: var(--box-10);
  background: var(--gray-dark);
  transition: transform 300ms ease-in;
  transform-origin: right;
  transform: scaleX(0);
}
@media screen and (min-width: 1024px) {
  .header__menu {
    width: auto;
    height: auto;
    position: static;
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 0;
    background: transparent;
    transform-origin: left;
    transform: scaleX(1);
  }
}
.header__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__list:hover .header__submenu {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .header__list::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 50%;
    width: 70%;
    height: 1px;
    background: var(--brand-primary);
    transition: transform 225ms ease-in;
    transform: translateX(-50%) scaleX(0);
  }
  .header__list:hover::before, .header__list:active::before {
    transform: translateX(-50%) scaleX(1);
  }
}
.header__item {
  position: relative;
  height: var(--box-9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms 480ms ease-in;
}
@media screen and (min-width: 1024px) {
  .header__item {
    padding-right: var(--box-3);
    padding-left: var(--box-3);
    height: var(--box-4);
    display: inline-flex;
    opacity: 1;
    transition-delay: 0ms;
  }
}
.header__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  background: rgba(21, 37, 51, 0.8);
  transition: opacity 300ms 50ms ease-in;
  opacity: 0;
}
.header__subitem {
  padding-right: var(--box-5);
  padding-left: var(--box-5);
  position: relative;
  width: var(--box-22);
  height: var(--box-8);
  display: flex;
  align-items: center;
  color: var(--white);
}
@media screen and (min-width: 1024px) {
  .header__subitem::after {
    content: "";
    position: absolute;
    top: 50%;
    left: var(--box-3);
    width: 5px;
    height: 5px;
    border-radius: var(--edge-lg);
    background: var(--gray-light);
    transition: transform 300ms ease-in;
    transform: translate(-50%, -50%) scale(0);
  }
  .header__subitem:hover::after, .header__subitem:active::after {
    transform: translate(-50%, -50%) scale(1);
  }
}

/*
    Se van a crear todos los estilos del footer para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/
/*------------------------------------*\
    #Footer
\*------------------------------------*/
.footer {
  color: var(--white);
  background: var(--gray-dark);
}
.footer__copyright {
  padding-top: var(--box-2);
  padding-bottom: var(--box-2);
  text-align: center;
}
@media screen and (min-width: 720px) {
  .footer__copyright {
    padding-top: var(--box-3);
    padding-bottom: var(--box-3);
  }
}

.hero {
  padding-top: var(--box-6);
  padding-bottom: var(--box-6);
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}
.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(47, 54, 64, 0.5);
}
@media screen and (min-width: 720px) {
  .hero {
    padding-top: var(--box-12);
    padding-bottom: var(--box-12);
  }
}
@media screen and (min-width: 1260px) {
  .hero {
    padding-top: var(--box-14);
    padding-bottom: var(--box-14);
  }
}
.hero--medium {
  min-height: 75vh;
  justify-content: flex-end;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.xtrafondos.com/wallpapers/moto-yamaha-yzf-r1-1571.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.hero__background--kawasaki {
  background-image: url("https://storage.kawasaki.eu/public/kawasaki.fr/fr-FR/news/hi_18EX400G_201GN2ALFH00D_A_002.jpg");
  background-position: bottom;
}
.hero__background--yamaha {
  background-image: url("https://i2.wp.com/pozadine.slikezadesktop.com/wp-content/uploads/2017/03/Yamaha-R6-Trke-Slike-Za-Desktop-Pozadinu.jpg?fit=1920%2C1200");
  background-position: 80% bottom;
}
.hero__background--honda {
  background-image: url("http://www.hondaprokevin.com/pictures/CBR1000RR-SP-OEM-1st-Gen/honda-cbr1000rr-sp-repsol-review-specs-race-motogp-cbr-motorcycle-sport-bike-cbr1000-rr-1000rr-brembo-ohlins-9.jpg");
  background-position: 50% 140%;
}
.hero__body {
  position: relative;
  z-index: 100;
  margin-top: var(--box-10);
  margin-bottom: 0;
}
@media screen and (min-width: 550px) {
  .hero__body {
    margin-top: var(--box-14);
  }
}
@media screen and (min-width: 1024px) {
  .hero__body {
    margin-top: var(--box-24);
  }
}
@media screen and (min-width: 1480px) {
  .hero__body {
    margin-top: var(--box-32);
  }
}
.hero__content {
  width: 100%;
}
@media screen and (min-width: 550px) {
  .hero__content {
    width: 90%;
  }
}
@media screen and (min-width: 720px) {
  .hero__content {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .hero__content {
    width: 65%;
    padding-right: var(--box-2);
  }
}
.hero__title {
  color: var(--brand-primary);
  text-transform: uppercase;
}
.hero__title-motos {
  width: 40%;
  margin-bottom: 0;
  color: var(--gray-lighter);
}
.hero__title-motos--right {
  margin-left: auto;
}
.hero__text {
  width: 100%;
  color: var(--white);
  font-weight: var(--font-semibold);
  text-transform: capitalize;
}
@media screen and (min-width: 550px) {
  .hero__text {
    width: 90%;
  }
}
@media screen and (min-width: 720px) {
  .hero__text {
    width: 80%;
    font-size: var(--txt-5);
    line-height: var(--box-5);
  }
}
@media screen and (min-width: 1260px) {
  .hero__text {
    width: 70%;
  }
}
.hero__button {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.card__list, .card__content, .card {
  display: flex;
  flex-direction: column;
}

.card {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card__article {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray-light);
}
.card__article:not(:last-child) {
  margin-bottom: var(--box-14);
}
.card__image {
  width: calc(var(--box-32) * var(--ar-16-9));
  height: var(--box-32);
}
@media screen and (min-width: 720px) {
  .card__image {
    width: calc(var(--box-48) * var(--ar-16-9));
    height: var(--box-48);
  }
}
@media screen and (min-width: 1024px) {
  .card__image {
    width: calc(var(--box-56) * var(--ar-16-9));
    height: var(--box-56);
  }
}
.card__img-describe {
  position: absolute;
  display: none;
  top: 0;
  left: 110%;
  z-index: 100;
  z-index: 100;
  font-size: var(--txt-3);
  font-weight: bold;
  letter-spacing: 0.25em;
  white-space: nowrap;
}
.card__img-describe::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 185%;
  height: 2px;
  background: var(--gray-light);
  transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  .card__img-describe {
    display: block;
  }
}
.card__body {
  padding-right: var(--box-10);
  padding-left: var(--box-10);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--box-6);
}
@media screen and (min-width: 1024px) {
  .card__body {
    padding-right: 0;
    padding-left: 0;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .card__content {
    width: 60%;
    padding-right: var(--box-4);
    padding-left: var(--box-10);
  }
}
.card__model {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--box-4);
  padding-right: var(--box-4);
}
.card__price {
  position: relative;
  font-weight: bold;
}
.card__price::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 90%;
  height: 2px;
  background: var(--color-login);
  transform: translate(-50%, -50%);
}
.card__price--before {
  color: var(--gray-light);
  font-weight: bold;
  text-decoration: line-through;
}
.card__title {
  font-size: var(--txt-7);
  font-family: var(--font-text);
}
.card__list {
  padding-right: var(--box-3);
  padding-left: var(--box-3);
  font-size: var(--txt-3);
  line-height: var(--box-3);
}
.card__list-title {
  font-size: var(--txt-5);
  font-family: var(--font-text);
}
.card__list-row {
  display: flex;
}
.card__list-row:not(:last-child) {
  margin-bottom: var(--box-2);
}
.card__list-item {
  min-width: var(--box-28);
  font-weight: bold;
}

.about-title {
  position: relative;
  z-index: 100;
  width: 70%;
  margin: 0 auto;
  color: var(--gray-light);
  line-height: 1.5;
  font-size: var(--txt-6);
}

.about-content {
  position: relative;
  z-index: 100;
  width: 50%;
  text-align: center;
  margin-top: var(--box-18);
  margin-right: auto;
  margin-left: auto;
}
.about-content:not(:last-child) {
  margin-bottom: var(--box-20);
}
.about-content--no-top {
  margin-top: var(--box-6);
}

.form__option-users, .form__sesion-label {
  font-weight: bold;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  transition: border-color 250ms ease-in;
}
.form__option-users:hover, .form__sesion-label:hover, .form__option-users:focus, .form__sesion-label:focus, .form__option-users:active, .form__sesion-label:active {
  border-bottom-color: var(--color-login);
}

.wrapp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.login::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(47, 54, 64, 0.5);
}
.login--no-flex {
  display: block;
}
.login__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://wallpapersite.com/images/pages/pic_h/3915.jpg");
  background-size: cover;
  background-position: 40% bottom;
}
.login__background--contact {
  background-image: url("https://stmed.net/sites/default/files/motorcycle-wallpapers-32439-1540112.jpg");
}

.overlay-modal {
  position: relative;
  z-index: 300;
}
.overlay-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(47, 54, 64, 0.5);
}
.overlay-modal--active::before {
  display: block;
}

.form {
  position: relative;
  z-index: 100;
  width: var(--box-56);
  color: var(--gray-light);
  padding: var(--box-5) var(--box-4);
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--box-6);
  background: rgba(29, 29, 29, 0.8);
}
.form--contact {
  margin-top: -50px;
}
.form--large {
  width: 50%;
}
.form__container {
  display: flex;
  justify-content: space-between;
}
.form__log {
  min-width: 100%;
}
.form__log--visible {
  display: none;
}
.form__title {
  margin-top: 0;
}
.form__title-users {
  font-size: var(--txt-3);
  font-weight: bold;
}
.form__field {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: var(--box-4);
}
.form__field:not(:last-child) {
  margin-right: var(--box-5);
}
.form__field--not:not(:last-child) {
  margin-right: 0;
}
.form__field--sesion {
  width: 50%;
  margin-bottom: 0;
  color: var(--gray-light);
}
.form__field--users {
  justify-content: space-between;
}
.form__sesion-label {
  width: 100%;
  height: var(--box-6);
  display: flex;
  justify-content: center;
  background: #0248813a;
}
.form__sesion-label--active {
  color: var(--color-login);
}
.form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form__text {
  position: absolute;
  top: var(--box-2);
  left: var(--box-7);
  height: 100%;
  color: var(--gray);
  font-size: var(--txt-3);
  font-weight: bold;
  cursor: auto;
  transition: 250ms ease-in;
  transition-property: transform, font-size, color;
  /*
    Se aplican estos estilos cuando se detecta con js, que el <input>
    contiene texto. Con js se hace un toggle de esta clase a cada <input>
  */
}
.form__text--not {
  position: absolute;
  top: calc(-1 * var(--box-4));
  left: var(--box-2);
  font-size: var(--txt-3);
  color: var(--color-login);
}
.form__text--is-active {
  color: var(--color-login);
  cursor: pointer;
  transform: translateY(calc(-1 * var(--box-5)));
}
.form .input:focus ~ .form__text {
  transform: translateY(calc(-1 * var(--box-5)));
  color: var(--color-login);
}
.form .input--active:checked + .form__option-users {
  color: var(--color-login);
}
.form__icon {
  width: var(--box-3);
  height: var(--box-3);
  margin-right: var(--box-2);
}
.form__option-users {
  color: var(--gray-lighter);
}
.form__options {
  display: flex;
}
.form__send {
  width: 100%;
  margin-top: var(--box-4);
}
.form__alert-message {
  margin-top: var(--box-2);
  color: var(--brand-primary);
  font-size: var(--txt-3);
  text-align: center;
}
.form__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 400;
  width: var(--box-64);
  padding: var(--box-8);
  border-radius: 1.3em;
  transform: translate(-50%, -50%);
  background: var(--gray);
  display: none;
}
.form__modal--active {
  display: block;
}
.form__flex {
  display: flex;
}
.form__del {
  text-align: center;
  padding-bottom: var(--box-2);
}
.form__send-modal {
  width: 50%;
}
.form__send-modal:not(:last-child) {
  margin-right: var(--box-5);
}

.show-item__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--box-6);
  padding: var(--box-3) var(--box-5);
  background: var(--gray-light);
}
.show-item__item {
  width: 20%;
}

/*# sourceMappingURL=main.css.map */
