/*
    Se van a crear todas las clases de botones para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/



/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.btn {
    @include pad-x(var(--box-3));
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--box-6);
    cursor: pointer;
    color: var(--white);
    font-size: var(--txt-4);
    border-radius: var(--edge-sm);
    border: 1px solid transparent;
    background: var(--brand-secondary);
    transition: 250ms ease-in;
    transition-property: background, color, transform, box-shadow, border-color;

    &:hover,
    &:active {
        background: var(--brand-primary);
        box-shadow: 2px 2px 10px var(--gray-darker);
    }





    /*------------------------------------*\
        #Composición de botones
    \*------------------------------------*/

    &--big {
        @include pad-x(var(--box-6));
        height: var(--box-8);
        text-transform: uppercase;
        border-color: var(--brand-primary);
        background: transparent;
    }

    &--login {
        @include pad-x(var(--box-4));
        height: var(--box-6);
        text-transform: uppercase;
        border-color: var(--color-login);
        background: transparent;

        &:hover,
        &:active {
            background: #27ae5f41;
            box-shadow: none;
        }

        @media #{$mq-lg} {margin-left: var(--box-4);}
    }

    &--large {
        width: 100%;
        color: var(--gray-light);
        font-weight: bold;
        border-radius: 0;
        border-width: 2px;
        border-color: var(--color-login);
        background: transparent;

        &:hover,
        &:active {
            background: #27ae5f41;
            box-shadow: none;
        }
    }

    &--red {
        width: 100%;
        color: var(--gray-light);
        font-weight: bold;
        border-radius: 0;
        border-width: 2px;
        border-color: var(--color-error);
        background: transparent;

        &:hover,
        &:active {
            background: rgba(192, 58, 43, 0.255);
            box-shadow: none;
        }
    }

    &--full {
        @include pad-x(var(--box-6));
        width: 100%;
        height: var(--box-6);
        display: none;
        text-transform: uppercase;

        @media #{$mq-xs} {display: inline-flex;}
        @media #{$mq-lg} {height: var(--box-7);}
    }
}