/*
    Se van a crear todas las clases de inputs para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/



/*------------------------------------*\
    #Controles del formulario
\*------------------------------------*/

$duration: 250ms;
$height-form: var(--box-6);

// Estilos generales para los inputs
.control-form {
    @include pad-x(var(--box-2));
    width: 100%;
    color: var(--black);
    font-family: var(--font-text);
    font-size: var(--txt-4);
    border-color: var(--white);
    border-style: solid;
    background: var(--gray-light);
    transition: border-color $duration ease-in;
}




// Controles

.input {
    @extend .control-form;
    height: $height-form;

    &:hover,
    &:focus,
    &:active {border-color: var(--color-login);}

    &--transparent {
        color: var(--white);
        background: transparent;
        border-color: transparent;

        &:hover,
        &:focus,
        &:active {
            border-color: transparent;
            border-bottom-color: var(--color-login);
        }
    }

    &--hidden {
        display: none;
    }
}


.select {
    @extend .control-form;
    position: relative;
    height: $height-form;

    &:hover,
    &:focus,
    &:active {border-color: var(--color-login);}
}

.textarea {
    @extend .control-form;
    height: var(--box-28);
    padding-top: var(--box-2);
    padding-bottom: var(--box-2);

    &--transparent {
        color: var(--white);
        background: transparent;
        border-radius: 0.8em;
        border-color: rgba(97, 97, 97, 0.4);

        &:hover,
        &:focus,
        &:active {
            border-color: transparent;
            border-bottom-color: var(--color-login);
        }
    }
}