/*
    Se van a crear todas las clases de estructura para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/



/*------------------------------------*\
    #Contenedor
\*------------------------------------*/

/*
    Coloca un padding en "x" al elemento que tenga esta clase, y
    limita si ancho dependiendo de la medida del dispositivo para
    la que se esté diseñando.
*/
.wrapper {
    @include pad-x(var(--box-2));
    width: 100%;

    @media #{$mq-md} {
        @include pad-x(0);
        width: 95%;
        margin: auto;
    }
    @media #{$mq-lg} {width: 90%;}
    @media #{$mq-xl} {width: 85%;}
    @media #{$mq-xx} {
        width: 80%;
        max-width: 1920px;
    }
}





/*------------------------------------*\
    #Margen top y bottom para secciones
\*------------------------------------*/

/*
    Mantiene un margin-top si el <header> es fixed o absolute
    desde un inicio. las variables para calculaer el margin,
    corresponden al height del <header>.
    Si este tamaño cambia, automaticamente lo hará esta clase.
*/
.below-header {margin-top: var(--nav-height);}

/*
    Padding vertical para las secciones.
*/
.inside {
    padding-top: var(--box-4);
    padding-bottom: var(--box-12);

    @media #{$mq-sm} {
        padding-top: var(--box-5);
        padding-bottom: var(--box-14);
    }
    @media #{$mq-md} {
        padding-top: var(--box-6);
        padding-bottom: var(--box-16);
    }
    @media #{$mq-xl} {
        padding-top: var(--box-7);
        padding-bottom: var(--box-18);
    }
}





/*------------------------------------*\
    #Tamaño de las imagenes
\*------------------------------------*/

/*
    Aplica para toda imagen que tenga un elemento padre con
    esta clase.
*/
.img {
    position: relative;
    display: flex;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        color: var(--black);
        text-align: center;
        object-fit: cover;
    }
}





/*------------------------------------*
    #Visivilidad en dispositivos
\*------------------------------------*/

.dk-hidden {
    @media #{$mq-lg} {display: none;}
}

.tch-hidden {
    display: none;

    @media #{$mq-lg} {display: block;}
}
