/*
    Se van a crear todas las tipografias para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/



/*------------------------------------*\
    #Tipografia
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600,700|Montserrat:400,600&display=swap');





/*------------------------------------*\
    #Tamaños de los h1 al h6
\*------------------------------------*/

// Tamaños y margenes de los titulos

@mixin title-txt-5 {
    margin: var(--box-3) 0;
    font-size: var(--txt-5);
    line-height: var(--box-3);
}

@mixin title-txt-6 {
    margin: var(--box-3) 0;
    font-size: var(--txt-6);
    line-height: var(--box-4);
}

@mixin title-txt-7 {
    margin: var(--box-4) 0;
    font-size: var(--txt-7);
    line-height: var(--box-5);
}

@mixin title-txt-8 {
    margin: var(--box-4) 0;
    font-size: var(--txt-8);
    line-height: var(--box-5);
}

@mixin title-txt-9 {
    margin: var(--box-5) 0;
    font-size: var(--txt-9);
    line-height: var(--box-6);
}

@mixin title-txt-10 {
    margin: var(--box-5) 0;
    font-size: var(--txt-9);
    line-height: var(--box-7);
}

@mixin title-txt-12 {
    margin: var(--box-6) 0;
    font-size: var(--txt-12);
    line-height: var(--box-8);
}

@mixin title-txt-14 {
    margin: var(--box-7) 0;
    font-size: var(--txt-14);
    line-height: var(--box-10);
}

@mixin title-txt-16 {
    margin: var(--box-8) 0;
    font-size: var(--txt-16);
    line-height: var(--box-12);
}





// Titulos
// Tamaño muy grande
.heading1 {
    @include title-txt-12;

    @media #{$mq-md} {@include title-txt-14;}
    @media #{$mq-xl} {@include title-txt-16;}
}

.heading2 {
    @include title-txt-10;

    @media #{$mq-md} {@include title-txt-12;}
    @media #{$mq-xl} {@include title-txt-14;}
}

// Tamaño base
.heading3 {
    @include title-txt-9;

    @media #{$mq-md} {@include title-txt-10;}
    @media #{$mq-xl} {@include title-txt-12;}
}

.heading4 {
    @include title-txt-8;

    @media #{$mq-md} {@include title-txt-9;}
    @media #{$mq-xl} {@include title-txt-10;}
}

.heading5 {
    position: relative;
    z-index: 100;
    @include title-txt-7;

    @media #{$mq-md} {@include title-txt-8;}
    @media #{$mq-lg} {@include title-txt-9;}
}

// Tamaño muy pequeño
.heading6 {
    @include title-txt-5;

    @media #{$mq-md} {@include title-txt-6;}
    @media #{$mq-md} {@include title-txt-7;}
}





/*------------------------------------*\
    #Margen de parrafos
\*------------------------------------*/

/*
    Los elementos <p> y <h1> al <h6> deben ser hijos del elemento
    que contenga esta clase, para que se aplique a todos por igual.
    Los margenes en elementos <p>, se aplican siempre en bottom
    excepto al último elemento.
*/
.content {
    h1, h2, h3, h4, h5, h6 {margin: 0 0 var(--box-base) 0;}
    p:not(:last-child) {margin-bottom: var(--box-3);}
}





/*------------------------------------*\
    #Titulos
\*------------------------------------*/
/*
    Aplica estos estilos a los elementos <h1>...<h6> que
    tengan tengan esta clase.
*/
.title {
    color: var(--brand-primary);
    font-weight: var(--font-bold);
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    color: var(--brand-secondary);
    font-weight: var(--font-semibold);
    text-align: center;
}





/*------------------------------------*\
    #Titulos agrupados
\*------------------------------------*/

/*
    Todos los titulos que se metan en un grupo, se comportarán de la
    siguiente manera.
    -El primero no tendrá margen en "botton", pero si "top"
    -El último no tendrá margen en "top", pero si "botton"
    -Los que estén entre el primero y el último, no tendrán margen.
*/
.title-group > * {
    &:not(:first-child) {margin-top: 0;}
    &:not(:last-child) {margin-bottom: 0;}
}