/*
    Se importan las hojas de estilo de parciales. Las hojas de estilos
    con _name (parciales) no se compilan, y no es necesario incluir el
    "_" al importarlas aqui. Se importan aqui y se van a compilar en .css,
    generando después el archivo main.css para el navegador.
    Este archivo es el que sí puede leer el navegador y debe ir en los
    estilos que carga el html, o en el archivo index.js de React.
*/



/*------------------------------------*\
    #Variables
\*------------------------------------*/
/*
    Las variables se deben cargar primero, siempre van hasta arriba ya
    que todos los demás archivos las usan.
*/
@import './variables';
@import './mixins';



/*------------------------------------*\
    #CSS-general
\*------------------------------------*/
/*
    Con tiene los estilos para resetear los artributos por defecto que
    contienen los elementos.
*/
@import './html';



/*------------------------------------*\
    #Estilos base
\*------------------------------------*/
@import './typography';
@import './strucutr';
@import './buttons';
@import './form.scss';



/*------------------------------------*\
    #Estilos-componentes
\*------------------------------------*/
@import './components/header';
@import './components/footer';
@import './components/hero';
@import './components/card';

// Paginas
@import './components/home';
@import './components/login';