// Estilos generales de la direccion de las tarjetas
%card-direction {
    display: flex;
    flex-direction: column;
}

.card {
    @extend %card-direction;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__article {
        display: flex;
        flex-direction: column;

        border-bottom: 1px solid var(--gray-light);

        &:not(:last-child) {margin-bottom: var(--box-14);}
    }

    &__image {
        @include aspect-ratio(var(--box-32), var(--ar-16-9));

        @media #{$mq-md} {
            @include aspect-ratio(var(--box-48), var(--ar-16-9));
        }
        @media #{$mq-lg} {
            @include aspect-ratio(var(--box-56), var(--ar-16-9));
        }
    }

    &__img-describe {
        position: absolute;
        display: none;
        top: 0;
        left: 110%;
        z-index: 100;
        z-index: 100;
        font-size: var(--txt-3);
        font-weight: bold;
        letter-spacing: 0.25em;
        white-space: nowrap;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            width: 185%;
            height: 2px;
            background: var(--gray-light);
            transform: translateY(-50%);
        }

        @media #{$mq-lg} {display: block;}
    }

    &__body {
        @include pad-x(var(--box-10));
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: var(--box-6);

        @media #{$mq-lg} {
            @include pad-x(0);
            flex-direction: row;
        }
    }

    &__content {
        @extend %card-direction;

        @media #{$mq-lg} {
            width: 60%;
            padding-right: var(--box-4);
            padding-left: var(--box-10);
        }
    }

    &__model {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var(--box-4);
        padding-right: var(--box-4);
    }

    &__price {
        position: relative;
        font-weight: bold;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 90%;
            height: 2px;
            background: var(--color-login);
            transform: translate(-50%, -50%);
        }

        &--before {
            color: var(--gray-light);
            font-weight: bold;
            text-decoration: line-through;
        }
    }

    &__title {
        font-size: var(--txt-7);
        font-family: var(--font-text);
    }

    &__list {
        @extend %card-direction;
        @include pad-x(var(--box-3));
        font-size: var(--txt-3);
        line-height: var(--box-3);
    }

    &__list-title {
        font-size: var(--txt-5);
        font-family: var(--font-text);
    }

    &__list-row {
        display: flex;
        &:not(:last-child) {margin-bottom: var(--box-2);}
    }

    &__list-item {
        min-width: var(--box-28);
        font-weight: bold;
    }
}