/*
    Se van a crear todos los estilos del footer para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/



/*------------------------------------*\
    #Footer
\*------------------------------------*/

.footer {
    color: var(--white);
    background: var(--gray-dark);

    &__copyright {
        @include pad-y(var(--box-2));
        text-align: center;

        @media #{$mq-md} {@include pad-y(var(--box-3));}
    }
}