/*
    Se van a crear todos los estilos del header para el proyecto.
    Unicamente se van a compilar dentro del main.css.
*/



/*------------------------------------*\
    #Header
\*------------------------------------*/

// Duracion de las animaciones del menu
$duration-animation: 300ms;
$delay-menu: $duration-animation * 1.6;
$time-decoration: $duration-animation * 0.75;

// El elemento <header> siempre debe ocupar el 100%
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: var(--nav-height);
    background: rgba(21, 37, 51, 0.97);

    @media #{$mq-lg} {height: var(--nav-height);}







    /*------------------------------------*\
        #Menú
    \*------------------------------------*/

    // Contiene el logo, el menu y el btn-burger
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__logo {
        width: var(--box-8);
        color: var(--white);
        font-size: var(--txt-base);

        @media #{$mq-sm} {font-size: var(--txt-2);}
        @media #{$mq-lg} {
            width: var(--box-12);
            margin-right: var(--box-4);
        }
    }





    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: var(--box-10);
        background: var(--gray-dark);
        transition: transform $duration-animation ease-in;
        transform-origin: right;
        transform: scaleX(0);

        @media #{$mq-lg} {
            @include square(auto);
            position: static;
            display: flex;
            align-items: center;
            height: 100%;
            padding-top: 0;
            background: transparent;
            transform-origin: left;
            transform: scaleX(1);
        }
    }





    &__list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &:hover .header__submenu {
            visibility: visible;
            opacity: 1;
        }

        @media #{$mq-lg} {
            // Detalle bajo el texto de los items del menu
            &::before {
                content: '';
                position: absolute;
                top: 70%;
                left: 50%;
                width: 70%;
                height: 1px;
                background: var(--brand-primary);
                transition: transform $time-decoration ease-in;
                transform: translateX(-50%) scaleX(0);
            }

            // Se pone dentro del @media para que sólo funcione dentro.
            &:hover::before,
            &:active::before {transform: translateX(-50%) scaleX(1);}
        }
    }





    /*------------------------------------*\
        #Enlaces
    \*------------------------------------*/

    // Se dan los estilos al alemento <a>, y no a los <li>
    &__item {
        position: relative;
        height: var(--box-9);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        cursor: pointer;
        opacity: 0;
        transition: opacity $duration-animation $delay-menu ease-in;

        @media #{$mq-lg} {
            @include pad-x(var(--box-3));
            height: var(--box-4);
            display: inline-flex;
            opacity: 1;
            transition-delay: 0ms;
        }
    }





    /*------------------------------------*\
        #Submenu
    \*------------------------------------*/

    // Seccion del submenu
    &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        background: rgba(21, 37, 51, 0.8);
        transition: opacity 300ms 50ms ease-in;
        opacity: 0;
    }



    &__subitem {
        @include pad-x(var(--box-5));
        position: relative;
        width: var(--box-22);
        height: var(--box-8);
        display: flex;
        align-items: center;
        color: var(--white);

        @media #{$mq-lg} {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: var(--box-3);
                width: 5px;
                height: 5px;
                border-radius: var(--edge-lg);
                background: var(--gray-light);
                transition: transform $duration-animation ease-in;
                transform: translate(-50%, -50%) scale(0);
            }

            &:hover::after,
            &:active::after {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}
