.hero {
    @include pad-y(var(--box-6));
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;

    &::before  {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(47, 54, 64, 0.5);
    }

    @media #{$mq-md} {@include pad-y(var(--box-12));}
    @media #{$mq-xl} {@include pad-y(var(--box-14));}

    &--medium {
        min-height: 75vh;
        justify-content: flex-end;
    }



    // Estilos para la imagen de fondo
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://www.xtrafondos.com/wallpapers/moto-yamaha-yzf-r1-1571.jpg");
        background-size: cover;
        background-attachment: fixed;

        &--kawasaki {
            background-image: url("https://storage.kawasaki.eu/public/kawasaki.fr/fr-FR/news/hi_18EX400G_201GN2ALFH00D_A_002.jpg");
            background-position: bottom;
        }
        &--yamaha {
            background-image: url("https://i2.wp.com/pozadine.slikezadesktop.com/wp-content/uploads/2017/03/Yamaha-R6-Trke-Slike-Za-Desktop-Pozadinu.jpg?fit=1920%2C1200");
            background-position: 80% bottom;
        }
        &--honda {
            background-image: url("http://www.hondaprokevin.com/pictures/CBR1000RR-SP-OEM-1st-Gen/honda-cbr1000rr-sp-repsol-review-specs-race-motogp-cbr-motorcycle-sport-bike-cbr1000-rr-1000rr-brembo-ohlins-9.jpg");
            background-position: 50% 140%;
        }
    }

    &__body {
        position: relative;
        z-index: 100;
        margin-top: var(--box-10);
        margin-bottom: 0;

        @media #{$mq-sm} {margin-top: var(--box-14);}
        @media #{$mq-lg} {margin-top: var(--box-24);}
        @media #{$mq-xx} {margin-top: var(--box-32);}
    }

    &__content {
        width: 100%;

        @media #{$mq-sm} {width: 90%;}
        @media #{$mq-md} {width: 80%;}
        @media #{$mq-lg} {
            width: 65%;
            padding-right: var(--box-2);
        }
    }

    &__title {
        color: var(--brand-primary);
        text-transform: uppercase;
    }

    &__title-motos {
        width: 40%;
        margin-bottom: 0;
        color: var(--gray-lighter);

        &--right {
            margin-left: auto;
        }
    }

    &__text {
        width: 100%;
        color: var(--white);
        font-weight: var(--font-semibold);
        text-transform: capitalize;

        @media #{$mq-sm} {width: 90%;}
        @media #{$mq-md} {
            width: 80%;
            font-size: var(--txt-5);
            line-height: var(--box-5);
        }
        @media #{$mq-xl} {width: 70%;}
    }



    &__button {
        @include mar-x(auto);
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 100;
    }
}