.about-title {
    position: relative;
    z-index: 100;
    width: 70%;
    margin: 0 auto;
    color: var(--gray-light);
    line-height: 1.5;
    font-size: var(--txt-6);
}

.about-content {
    position: relative;
    z-index: 100;
    width: 50%;
    text-align: center;
    margin-top: var(--box-18);
    margin-right: auto;
    margin-left: auto;

    &:not(:last-child) {
        margin-bottom: var(--box-20);
    }

    &--no-top {
        margin-top: var(--box-6);
    }
}