// Variables de posicion y duracion de la animacion del label
$label-position: calc(-1 * var(--box-5));
$duration: 250ms;

%style-label {
    font-weight: bold;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 250ms ease-in;

    &:hover,
    &:focus,
    &:active {border-bottom-color: var(--color-login);}
}

.wrapp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.login {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &::before  {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(47, 54, 64, 0.5);
    }

    &--no-flex {
        display: block;
    }



    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: url("https://stmed.net/sites/default/files/motorcycle-wallpapers-32439-1540112.jpg");
        background-image: url("https://wallpapersite.com/images/pages/pic_h/3915.jpg");
        background-size: cover;
        background-position: 40% bottom;

        &--contact {
            background-image: url("https://stmed.net/sites/default/files/motorcycle-wallpapers-32439-1540112.jpg");
        }
    }
}

.overlay-modal {
    position: relative;
    z-index: 300;

    &::before {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(47, 54, 64, 0.5);
    }

    &--active {
        &::before {display: block;}
    }
}


.form {
    position: relative;
    z-index: 100;
    width: var(--box-56);
    color: var(--gray-light);
    padding: var(--box-5) var(--box-4);
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--box-6);
    background: rgba(29, 29, 29, 0.8);

    &--contact {margin-top: -50px;}
    &--large {width: 50%;}

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__log {
        min-width: 100%;

        &--visible {display: none;}
    }

    &__title {margin-top: 0;}

    &__title-users {
        font-size: var(--txt-3);
        font-weight: bold;
    }

    &__field {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: var(--box-4);

        &:not(:last-child) {
            margin-right: var(--box-5);
        }

        &--not {
            &:not(:last-child) {
                margin-right: 0;
            }
        }

        &--sesion {
            width: 50%;
            margin-bottom: 0;
            color: var(--gray-light);
        }

        &--users {justify-content: space-between;}
    }

    &__sesion-label {
        @extend %style-label;
        width: 100%;
        height: var(--box-6);
        display: flex;
        justify-content: center;
        background: #0248813a;

        &--active {color: var(--color-login);}
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__text {
        position: absolute;
        top: var(--box-2);
        left: var(--box-7);
        height: 100%;
        color: var(--gray);
        font-size: var(--txt-3);
        font-weight: bold;
        cursor: auto;
        transition: $duration ease-in;
        transition-property: transform, font-size, color;

        &--not {
            position: absolute;
            top: calc(-1 * var(--box-4));
            left: var(--box-2);
            font-size: var(--txt-3);
            color: var(--color-login);
        }

        /*
          Se aplican estos estilos cuando se detecta con js, que el <input>
          contiene texto. Con js se hace un toggle de esta clase a cada <input>
        */
        &--is-active {
            color: var(--color-login);
            cursor: pointer;
            transform: translateY($label-position);
        }
    }

    // Se aplican estos estilos una vez que se hace focus sobre un <input>
    .input  {
        &:focus ~ .form__text {
            transform: translateY($label-position);
            color: var(--color-login);
        }

        &--active:checked + .form__option-users {
            color: var(--color-login);
        }
    }

    &__icon {
        @include square(var(--box-3));
        margin-right: var(--box-2);
    }

    &__option-users {
        @extend %style-label;
        color: var(--gray-lighter);
    }

    &__options {display: flex;}

    &__send {
        width: 100%;
        margin-top: var(--box-4);
    }

    &__alert-message {
        margin-top: var(--box-2);
        color: var(--brand-primary);
        font-size: var(--txt-3);
        text-align: center;
    }

    &__modal {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 400;
        width: var(--box-64);
        padding: var(--box-8);
        border-radius: 1.3em;
        transform: translate(-50%, -50%);
        background: var(--gray);
        display: none;

        &--active {display: block;}
    }
    &__flex {
        display: flex;
    }
    &__del {
        text-align: center;
        padding-bottom: var(--box-2);
    }
    &__send-modal {
        width: 50%;

        &:not(:last-child) {
            margin-right: var(--box-5);
        }
    }
}



// Tabla para mostrar las consultas
.show-item {
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--box-6);
        padding: var(--box-3) var(--box-5);
        background: var(--gray-light);
    }

    &__item {
        width: 20%;
    }
}